<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>

	<h:form>
		<h:panelGrid columns="2">
			<h:outputText value="Cin" />
			<h:inputText value="#{personneBean.pers.cin}" readonly="#{personneBean.read}"/>


			<h:outputText value="Nom" />
			<h:inputText value="#{personneBean.pers.nom}" />

			<h:outputText value="Prenom" />
			<h:inputText value="#{personneBean.pers.prenom}" />

			<h:outputText value="Email" />
			<h:inputText value="#{personneBean.pers.email}" />

			<h:outputText value="Tel" />
			<h:inputText value="#{personneBean.pers.tel}" />

			<h:commandButton action="#{personneBean.ajouter()}" value="Ajouter" rendered="#{personneBean.btnAdd}"/>
			
			<h:commandButton action="#{personneBean.modifier()}" value="Modifier" rendered="#{personneBean.btnEdit}"/>
			
			<h:commandButton action="#{personneBean.annuler()}" value="Annuler" />


		</h:panelGrid>

		<h:dataTable value="#{personneBean.list}" var="pers">
			<h:column>
				<f:facet name="header">Cin</f:facet>
				<h:outputText value="#{pers.cin}"/>

			</h:column>


			<h:column>
				<f:facet name="header">Cin</f:facet>
				<h:outputText value="#{pers.cin}" />

			</h:column>

			<h:column>
				<f:facet name="header">Nom</f:facet>
				<h:outputText value="#{pers.nom}" />

			</h:column>

			<h:column>
				<f:facet name="header">Prenom</f:facet>
				<h:outputText value="#{pers.prenom}" />

			</h:column>

			<h:column>
				<f:facet name="header">Email</f:facet>
				<h:outputText value="#{pers.email}" />

			</h:column>


			<h:column>
				<f:facet name="header">Tel</f:facet>
				<h:outputText value="#{pers.tel}" />

			</h:column>

			<h:column>
				<f:facet name="header">Action</f:facet>
				<h:commandButton action="#{personneBean.supprimer()}"
					value="supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cet personne ?')">
					<f:setPropertyActionListener value="#{pers}"
						target="#{personneBean.pers}" />
				</h:commandButton>
				
				<h:commandButton action="#{personneBean.clickEdit()}"
					value="Editer" >
					<f:setPropertyActionListener value="#{pers}"
						target="#{personneBean.pers}" />
				</h:commandButton>
				

			</h:column>
			
			
			

		</h:dataTable>

	</h:form>

</body>
</html>
