<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<form action="../j_spring_security_check" method="post">
		<h:panelGrid columns="2">
          <h:outputText value="Login" />
          <h:inputText  id="j_username"/>
          
           <h:outputText value="Paswword" />
          <h:inputSecret id="j_password"/>
          
          <h:commandButton value="Envoyer" type="submit"/>
		</h:panelGrid>

	</form>

</body>
</html>
